<!DOCTYPE html>
<html>
  <head>
    <title>ACPID | {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Lustria|Lato:300,400' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div id="nav">
      <div id="logo">
        <a href="/index.html">
          <img src="/images/logo_small.png" width="120" height="72" alt="The Australian Conference on Personality and Individual Differences">
        </a>
      </div>
      <br>
      <div class="btn-group">
        <a href="/index.html" class="btn">Home</a>
        <a href="/history.html" class="btn">History</a>
        <a href="/group.html" class="btn">APS Interest Group</a>
        <a href="/committee.html" class="btn">Committee</a>
        <a href="/links.html" class="btn">Links</a>
      </div>
      <p>
      <a href="/2014.html" class="btn btn-success">2014 Conference</a>
      <a href="https://www.facebook.com/groups/406503182717565/" class="btn btn-primary">Facebook</a>
      </p>
    </div>
    <div id="content">
      {{ content }}
    </div>
    <p style="text-align: center; font-size: 7pt;">
    Copyright &copy; 2014 The Australian Conference on Personality and Individual Differences
    </p>
  </body>
</html>
